@keyframes fluid {
  0% {
    d: path(
      'M-55.83,-64.34 C329.00,-89.99 360.34,191.25 565.16,121.18 L517.78,168.55 L0.00,150.00 Z'
    );
  }

  10% {
    d: path(
      'M0.00,49.99 C150.00,150.00 350.86,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z'
    );
  }

  50% {
    d: path(
      'M-6.99,-18.94 C185.42,-8.09 238.62,-33.74 262.67,205.06 L500.00,150.00 L0.00,150.00 Z'
    );
  }

  70% {
    d: path(
      'M-6.99,-18.94 C185.42,-8.09 -65.31,50.13 55.68,181.38 L500.00,150.00 L0.00,150.00 Z'
    );
  }

  100% {
    d: path(
      'M-40.52,165.59 C-16.47,171.51 1.02,172.50 55.68,181.38 L500.00,150.00 L0.00,150.00 Z'
    );
  }
}

@keyframes test2 {
  0% {
  }
  50% {
    d: path(
      'M0,392L10,400.2C20,408,40,425,60,400.2C80,376,100,310,120,277.7C140,245,160,245,180,228.7C200,212,220,180,240,212.3C260,245,280,343,300,326.7C320,310,340,180,360,114.3C380,49,400,49,420,89.8C440,131,460,212,480,245C500,278,520,261,540,253.2C560,245,580,245,600,269.5C620,294,640,343,660,343C680,343,700,294,720,261.3C740,229,760,212,780,179.7C800,147,820,98,840,65.3C860,33,880,16,900,65.3C920,114,940,229,960,277.7C980,327,1000,310,1020,277.7C1040,245,1060,196,1080,220.5C1100,245,1120,343,1140,351.2C1160,359,1180,278,1200,220.5C1220,163,1240,131,1260,130.7C1280,131,1300,163,1320,147C1340,131,1360,65,1380,89.8C1400,114,1420,229,1430,285.8L1440,343L1440,490L1430,490C1420,490,1400,490,1380,490C1360,490,1340,490,1320,490C1300,490,1280,490,1260,490C1240,490,1220,490,1200,490C1180,490,1160,490,1140,490C1120,490,1100,490,1080,490C1060,490,1040,490,1020,490C1000,490,980,490,960,490C940,490,920,490,900,490C880,490,860,490,840,490C820,490,800,490,780,490C760,490,740,490,720,490C700,490,680,490,660,490C640,490,620,490,600,490C580,490,560,490,540,490C520,490,500,490,480,490C460,490,440,490,420,490C400,490,380,490,360,490C340,490,320,490,300,490C280,490,260,490,240,490C220,490,200,490,180,490C160,490,140,490,120,490C100,490,80,490,60,490C40,490,20,490,10,490L0,490Z'
    );
  }
  100% {
    d: path(
      'M-40.52,165.59 C-16.47,171.51 1.02,172.50 55.68,181.38 L500.00,150.00 L0.00,150.00 Z'
    );
  }
}
