@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin rotating-right {
  animation-name: toggle-rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@mixin keyframes-transform($n, $transform1, $transform2, $delay) {
  $name: inline-#{unique-id()};
  animation-name: $name;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: $delay;
  @-webkit-keyframes #{$name} {
    from {
      transform: $transform1;
    }
    to {
      transform: $transform2;
    }
  }
  @keyframes #{$name} {
    from {
      transform: $transform1;
    }
    to {
      transform: $transform2;
    }
  }
}
