$KEY_HEIGHT: 80px;
$KEY_WIDTH: 80px;
$CONTAINER_HEIGHT: 700px;
$CONTAINER_WIDTH: 400px;

$hOffset: 2px;
$vOffset: 2px;
$blur: 5px;

$DM_BACKGROUND_COLOR: #252831;
$DM_WHITE: white;

$DM_GREY: rgba(92, 95, 104, 255);
$DM_GRADIENT_GREY_TL: #333843;
$DM_GRADIENT_GREY_BR: #646a79;

$DM_ORANGE: rgb(215, 122, 24);
$DM_GRADIENT_ORANGE_TL: #bf5917;
$DM_GRADIENT_ORANGE_BR: #f7a43b;

$DM_BLACK_BTN: #343a48;
$DM_GRADIENT_BLACK_TL: #29303a;
$DM_GRADIENT_BLACK_BR: #373d4b;
