body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(beautiful.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

section .box {
  position: relative;
  max-width: 600px;
  padding: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  color: #000;
}

section .box::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: url(beautiful.jpg);
  background-attachment: fixed;
  background-size: cover;

  filter: blur(4px);
}

section .box * {
  position: relative;
  color: black;
  z-index: 50;
}

/* moved to style.css */
