@import './variables';

@mixin child($n) {
  &:nth-child(#{$n}) {
    animation-delay: 0.4s * $n;
  }
}

* {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: black;
}

.text {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

video {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.text span {
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  color: #777;
  transition: 1s;
  animation: reveal 1s linear forwards;
  opacity: 0;
  filter: blur(15px);
}

@keyframes reveal {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

span {
  @include child(1);
  @include child(2);
  @include child(3);
  @include child(4);
  @include child(5);
  @include child(6);
}
